*{
  margin: 0px;
  padding: 0px;
}
.menu{
  background-color:#ff7979;
}
.menu>ul{
  text-align: center;
}
.menu>ul:nth-child(2){
  text-align: center;
  padding: 15px 15px;
}
.menu>ul>li{
  position: relative;
  display: inline-block;
  text-align: center;
  height: 38px;
  width: 100px;
  transition: .3s;
}
ul{
  list-style: none;
}
a{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition:0.1s;
  color: white;
}
.menu>ul>li>div{
  position: absolute;
  text-align: center;
  opacity: 0;
  transition: .5s;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  border: white solid 2px;
}
.menu>ul>li:hover>div, .menu>ul>li.Active>div{
    width: 80%;
    height: 23px;
    opacity: 1;
}
li:hover, li.Active {
  background-color:#eb4d4b;
}
h1{
  background-color: #f6e58d;
  text-align: center;
  height: 50px;
  padding: 30px;
  font-size: 40px;
}
fondo{
  position: absolute;
  top:-73px;
  bottom: 0;
  left:0px;
  margin: auto;
  float: left;
  right: 0px;
  background-color:   rgb(243, 202, 198);
  width: 1450px;
  height: 400px;
}
/* tamaño imagenes */
div, div img{
  width: 400px;
  height: 250px;
}

/* ---------- */
.uno1{
  position: absolute;
  top:0;
  bottom: 0;
  left:0;
  margin: auto;
  float: left;
  right: 500px;
  background-color: rgba(128, 121, 103, 0);
  overflow: hidden;
}
.uno2{
  position: absolute;
  top:0;
  bottom: 0;
  left:600px;
  margin: auto;
  float: left;
  right: 0px;
  background-color: rgba(128, 121, 103, 0);
  overflow: hidden;
}
.uno1 img, .uno2 img{
  position: absolute;
  right: 0;
  transform: scale(1);
  transition-duration: 0.5s;
  overflow: hidden;
}
.uno1:hover img, .uno2:hover img{
  transform: scale(1.3);
  overflow: hidden;
}
.uno1 article, .uno2 article{
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: rgba(114, 199, 224, 0.4);
  width: 400px;
  height: 250px;
  transform: scale(0);
  transition-duration: .5s;
  overflow: hidden;
}
.uno1:hover article, .uno2:hover article{
  transform: scale(1);
  transition-duration: .5s;
}
.uno1 article h4, .uno2 article h4{
  text-align: center;
  font-family: 'Indie Flower', cursive;
  color: aliceblue;
  margin-top: 20px;
  font-size: 20px;
  transform: translateY(-210px);
  transition-duration: 0.6s;
  transition-delay: .6s;
  overflow: hidden;
}
.uno1:hover article h4, .uno2:hover article h4{
  transform: translateY(0);
}
.uno1 article p, .uno2 article p{
  text-align: justify;
  padding: 15px 40px;
  font-size: 12px;
  margin-top: 10px;
  font-family: 'Indie Flower', cursive;
  color: aliceblue;
  transform: translateY(200px);
  transition-duration: .6s;
  transition-delay: .8s;
}
.uno1:hover article p, .uno2:hover article p{
  transform: translateY(0);
}
.uno1 article a, .uno2 article a{
  margin: 25px 150px;
  margin-top: 170px;
  background-color: rgb(71, 132, 189);
  padding: 0;
  transform: scale(0);
  transition-duration: 1s;
  transition-delay: 1s;
  font-family: 'Indie Flower', cursive;
}
.uno1:hover article a, .uno2:hover article a{
  transform: scale(1);
}

.dos1{
  position: absolute;
  top:0;
  bottom: 0;
  left:0;
  margin: auto;
  float: left;
  right: 500px;
  background-color: rgba(128, 121, 103, 0);
  overflow: hidden;
}
.dos2{
  position: absolute;
  top:0;
  bottom: 0;
  left:600px;
  margin: auto;
  float: left;
  right: 0px;
  background-color: rgba(128, 121, 103, 0);
  overflow: hidden;
}
.dos1 article, .dos2 article{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 400px;
  height: 250px;
  background-color: rgba(179, 219, 126, 0.4);
  transform: rotate(90deg) translate(350px ,-350px);
  transition-duration: .5s;
  overflow: hidden;
}
.dos1:hover article, .dos2:hover article{
  transform: rotate(0deg) translate(0px);
}
.dos1 article h4, .dos2 article h4{
  text-align: center;
  font-family: 'Indie Flower', cursive;
  color: darkorange;
  font-size: 20px;
  padding:20px 20px;
  transform: translate(280px,-60px) ;
  transition-duration: .6s;
  transition-delay: .6s ;
}
.dos1:hover article h4, .dos2:hover article h4{
  transform: translate(0px);
}
.dos1 article p, .dos2 article p{
  text-align: justify;
  padding: 10px 15px;
  color: black;
  font-size: 15px;
  transform: translateX(-700px) translateY(150px);
  transition-duration: .6s;
  transition-delay: .6s;
}
.dos1:hover article p, .dos2:hover article p{
  transform: translateX(0px) translateX(0px);
}
.dos1 article a, .dos2 article a{
  margin: 25px 150px;
  margin-top: 170px;
  padding: 0;
  background-color: darkorange;
  transform: translateY(160px);
  transition-duration: .6s;
  transition-delay: .6s;
  font-family: 'Indie Flower', cursive;
}
.dos1:hover article a, .dos2:hover article a{
  transform: translateY(0px);
}

.tres1{
  position: absolute;
  top:0;
  bottom: 0;
  left:0;
  margin: auto;
  float: left;
  right: 500px;
  background-color: rgba(128, 121, 103, 0);
  overflow: hidden;
}
.tres2{
  position: absolute;
  top:0;
  bottom: 0;
  left:600px;
  margin: auto;
  float: left;
  right: 0px;
  background-color: rgba(128, 121, 103, 0);
  overflow: hidden;
}
.tres1 article, .tres2 article{
  position: absolute;
  top:0px;
  width: 400px;
  height: 250px;
  transform:  rotate(90deg)  translate(-326px,-325px);
  background: rgba(147, 255, 250, 0.72);
  transition-property: transform ;
  transition-duration: .5s;
  overflow: hidden;
}
.tres1:hover article, .tres2:hover article{
  transform: rotate(0)  translate(0);
}
.tres1 img, .tres2 img{
  position: absolute;
  transform: scale(1) rotate(0) ;
  transition-property: transform;
  transition-duration: 0.5s;
}
.tres1:hover img, .tres2:hover img{
  transform: scale(1.3) rotate(5deg) ;
}
.tres1 article h4, .tres2 article h4{
  text-align: center;
  margin-top: 30px;
  font-family: 'Indie Flower', cursive;
  color: aliceblue;
  transform:  rotate(-90deg)  translate(-326px,-325px);
  transition-duration: .5s;
  transition-delay: .5s ;
}
.tres1:hover article h4, .tres2:hover article h4{
  transform: rotate(0) translate(0);
}
.tres1 article p, .tres2 article p{
  text-align: justify;
  padding: 10px 15px;
  color: aliceblue;
  font-size: 17px;
  transform: rotate(90deg)  translate(326px,325px);
  transition-duration: .4s;
  transition-delay: .4s;
}
.tres1:hover article p, .tres2:hover article p{
  transform: rotate(0) translate(0);
}
.tres1 article a, .tres2 article a{
  margin: 25px 150px;
  margin-top: 170px;
  padding: 0;
  background-color: rgb(89, 166, 189);
  transform: rotate(90deg)  translate(326px,325px);
  transition-duration: .4s;
  transition-delay: .4s;
  font-family: 'Indie Flower', cursive;
}
.tres1:hover article a, .tres2:hover article a{
  transform: rotate(0) translate(0);
}

.cuatro1{
  position: absolute;
  top:0;
  bottom: 0;
  left:0;
  margin: auto;
  float: left;
  right: 500px;
  background-color: rgba(128, 121, 103, 0);
  overflow: hidden;
}
.cuatro2{
  position: absolute;
  top:0;
  bottom: 0;
  left:600px;
  margin: auto;
  float: left;
  right: 0px;
  background-color: rgba(128, 121, 103, 0);
  overflow: hidden;
}
.cuatro1 article, .cuatro2 article{
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: rgba(202, 122, 236, 0.69);
  width: 100%;
  height: 100%;
  transform: scale(0) rotate(0deg);
  transition-duration: .6s;
  overflow: hidden;
}
.cuatro1:hover article, .cuatro2:hover article{
  transform: scale(1) rotate(720deg);
}
.cuatro1 article h4, .cuatro2 article h4{
  text-align: center;
  margin-top: 30px;
  font-family: 'Indie Flower', cursive;
  color: aliceblue;
  font-size: 20px;
  transform: translateX(270px);
  transition-duration: .5s;
  transition-delay: .5s; 
}
.cuatro1:hover article h4, .cuatro2:hover article h4{
  transform: translateX(0);
}
.cuatro1 article p, .cuatro2 article p{
  text-align: justify;
  padding: 30px 15px;
  color: aliceblue;
  font-size: 15px;
  transform: translateX(-400px);
  transition-duration: .5s;
  transition-delay: .5s;
}
.cuatro1:hover article p, .cuatro2:hover article p{
  transform: translateX(0);
}
.cuatro1 article a, .cuatro2 article a{
  margin: 25px 150px;
  margin-top: 170px;
  padding: 0;
  background-color: blueviolet;
  transform: translateY(300PX);
  transition-duration: .5s;
  transition-delay: .5s;
  font-family: 'Indie Flower', cursive;
}
.cuatro1:hover article a, .cuatro2:hover article a{
  transform: translateY(0);
}

.cinco1{
  position: absolute;
  top:0;
  bottom: 0;
  left:0;
  margin: auto;
  float: left;
  right: 500px;
  background-color: rgba(128, 121, 103, 0);
  overflow: hidden;
}
.cinco2{
  position: absolute;
  top:0;
  bottom: 0;
  left:600px;
  margin: auto;
  float: left;
  right: 0px;
  background-color: rgba(128, 121, 103, 0);
  overflow: hidden;
}
.cinco1 article, .cinco2 article{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 400px;
  height: 250px;
  background-color: rgba(104, 245, 177, 0.4);
  transform: translate(-350px ,350px);
  transition-duration: .5s;
  overflow: hidden;
}
.cinco1:hover article, .cinco2:hover article{
  transform:  translate(0px);
}
.cinco1 article h4, .cinco2 article h4{
  text-align: center;
  font-family: 'Indie Flower', cursive;
  color: #048A8A;
  font-size: 20px;
  padding:20px 20px;
  transform:  scale(0) rotate(360deg);
  transition-duration: .3s;
  transition-delay: 1s ;
}
.cinco1:hover article h4, .cinco2:hover article h4{
  transform:  scale(1) rotate(0deg);
}
.cinco1 article p, .cinco2 article p {
  text-align: justify;
  padding: 10px 15px;
  color: aliceblue;
  font-size: 15px;
  transform: translate(-700px,390px);
  transition-duration: .6s;
  transition-delay: 1s;
}
.cinco1:hover article p, .cinco2:hover article p{
  transform: translate(0px);
}
.cinco1 article a, .cinco2 article a{
  margin: 25px 150px;
  margin-top: 170px;
  padding: 0;
  background-color: #048A8A;
  transform: scale(0) rotate(360deg);
  transition-duration: .6s;
  transition-delay: 1.1s ;
  font-family: 'Indie Flower', cursive;
}
.cinco1:hover article a, .cinco2:hover article a{
  transform:  scale(1) rotate(0deg);
}

.seis1{
  position: absolute;
  top:0;
  bottom: 0;
  left:0;
  margin: auto;
  float: left;
  right: 500px;
  background-color: rgba(128, 121, 103, 0);
  overflow: hidden;
}
.seis2{
  position: absolute;
  top:0;
  bottom: 0;
  left:600px;
  margin: auto;
  float: left;
  right: 0px;
  background-color: rgba(128, 121, 103, 0);
  overflow: hidden;
}
.seis1 img, .seis2 img{
  position: absolute;
  right: 0;
  transform: scale(1);
  transition-duration: 0.5s;
  overflow: hidden;
}
.seis1:hover img, .seis2:hover img{
  transform: scale(1.3);
  overflow: hidden;
}
.seis1 article, .seis2 article{
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: rgba(196, 93, 178,0.4);
  width: 400px;
  height: 250px;
  transform: scale(0);
  transition-duration: .6s;
  overflow: hidden;
}
.seis1:hover article, .seis2:hover article{
  transform: scale(1);
  transition-duration: .6s;
  background-color: #f6e58d;
}
.seis1 article h4, .seis2 article h4 {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  color: aliceblue;
  font-size: 20px;
  margin-top: 20px;
  transform: scale(0);
  transition-duration: .5s;
  transition-delay: 1s;
  overflow: hidden;
}
.seis1:hover article h4, .seis2:hover article h4{
  transform: scale(1);
}
.seis1 article p, .seis2 article p{
  text-align: justify;
  padding: 15px 40px;
  font-size: 13px;
  font-family: 'Indie Flower', cursive;
  color: darkgoldenrod;
  transform: scale(0);
  transition-duration: .5s;
  transition-delay: 1s;
}
.seis1:hover article p, .seis2:hover article p{
  transform: scale(1);
}
.seis1 article a, .seis2 article a{
  margin: 25px 150px;
  margin-top: 170px;
  padding: 0;
  background-color: white;
  color: darkgoldenrod;
  transform: scale(0) rotate(360deg);
  transition-duration: .5s;
  transition-delay: 1s ;
  font-family: 'Indie Flower', cursive;
}
.seis1:hover article a, .seis2:hover article a{
  transform: scale(1) rotate(0deg);
}

.siete1{
  position: absolute;
  top:0;
  bottom: 0;
  left:0;
  margin: auto;
  float: left;
  right: 500px;
  background-color: rgba(128, 121, 103, 0);
  overflow: hidden;
}
.siete2{
  position: absolute;
  top:0;
  bottom: 0;
  left:600px;
  margin: auto;
  float: left;
  right: 0px;
  background-color: rgba(128, 121, 103, 0);
  overflow: hidden;
}
.siete1 article, .siete2 article {
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: rgba(255, 255, 255, 0.62);
  width: 400px;
  height: 250px;
  transform: translate(160px,50px) scale(0) rotate(0);
  transition-duration: .5s;
  transition-delay: .2s;
  overflow: hidden;
}
.siete1:hover article, .siete2:hover article {
  transform: translate(0) scale(1) rotate(360deg);
}
.siete1 article h4, .siete2 article h4{
  text-align: center;
  font-family: 'Indie Flower', cursive;
  color: rgb(192, 95, 108);
  font-size: 20px;
  margin-top: 20px;
  transform: scale(0) translateX(-140px);
  transition-duration: .5s;
  transition-delay: 1s;
  overflow: hidden;
}
.siete1:hover article h4, .siete2:hover article h4{
  transform: scale(1) translateX(0px);
}
.siete1 article p, .siete2 article p{
  text-align: justify;
  padding: 15px 40px;
  font-size: 13px;
  font-family: 'Indie Flower', cursive;
  color: black;
  transform: translate(-290px) rotate(-60deg);
  transition-duration: .6s;
  transition-delay: 1s;
}
.siete1:hover article p, .siete2:hover article p{
  transform: translate(0px) rotate(0);
}
.siete1 article a, .siete2 article a{
  margin: 25px 150px;
  margin-top: 170px;
  padding: 0;
  background-color: rgb(192, 95, 108);
  transform: rotate(60deg) translate(350px ,-350px);
  transition-duration: .7s;
  transition-delay: 1s ;
  font-family: 'Indie Flower', cursive;
}
.siete1:hover article a, .siete2:hover article a{
  transform: rotate(0deg) translate(0px);
}

.ocho1{
  position: absolute;
  top:0;
  bottom: 0;
  left:0;
  margin: auto;
  float: left;
  right: 500px;
  background-color: rgba(128, 121, 103, 0);
  overflow: hidden;
}
.ocho1 img{
  position: absolute;
  right: 0;
  transform: scale(1.3) rotate(20deg);
  transition-duration: .5s;
  overflow: hidden;
}
.ocho1:hover img{
  transform: scale(1) rotate(0);
  overflow: hidden;
}
.ocho1 article{
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: rgba(255, 255, 255, 0.62);
  width: 400px;
  height: 250px;
  transform: scale(0) scale(1.3) rotate(20deg); 
  transition-duration: .6s;
  overflow: hidden;
}
.ocho1:hover article{
  transform: scale(1) scale(1) rotate(0) ;
}
.ocho1 article h4{
  text-align: center;
  font-family: 'Indie Flower', cursive;
  color: darkorange;
  font-size: 20px;
  padding:20px 20px;
  transform: translate(280px, -20px) ;
  transition-duration: .6s;
  transition-delay: .6s ;
}
.ocho1:hover article h4{
  transform:  translate(0px);
}
.ocho1 article p{
  text-align: justify;
  padding: 15px 40px;
  font-size: 13px;
  font-family: 'Indie Flower', cursive;
  color: white;
  transform: translate(-290px) rotate(-60deg);
  transition-duration: .6s;
  transition-delay: 1s;
}
.ocho1:hover article p{
  transform: translate(0px) rotate(0);
}

